body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/etch-a-sketch/img/rainbow.jpg')
}

#main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 816px;
    max-width:816px;
    height: 816px;
    max-height:816px;
    flex-shrink: 1;
    flex-wrap: wrap;
    gap: 0px;
}
#header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.on-hover {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation:slidebg 5s linear infinite;
}